<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <br>
  <br>
  <br>
  <h1 style="text-align: center; color: black;">WORLD LIBRARY</h1>
  <p style="text-align: center; color: black;"> the world library page where you can find the various<br>
      books you are looking for. not only borrowing, but you can <br>
      include any information book references that other people might need.
      <br>
      <br>
      <br></p> 
</div>
<h2 style="text-align: center;"> CONTACT US</h2>
<hr style="margin-bottom: 70px;">

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <img src="../src/app/img/lokasi.png" width="108px" height="108px" style="margin-left: 125px">
      <h3 style="text-align: center;">ADDRESS</h3>
      <h4 style="text-align: center;"><br>WORLD LIBRARY GROUP <br><br> Jalan Soekarno Hatta No. 10 <br><br> Kota Malang<br></h4>
    </div>
    <div class="col-sm-4">
      <img src="../src/app/img/telepon.png" width="108px" height="108px" style="margin-left: 125px">
      <h3 style="text-align: center;">PHONE</h3>
      <h4 style="text-align: center;"><br>WORLD LIBRARY GROUP <br><br> 085730311633 <br><br> 0343876509<br></h4>
    </div>
    <div class="col-sm-4">
      <img src="../src/app/img/email.png" width="108px" height="108px" style="margin-left: 125px">
      <h3 style="text-align: center;">EMAIL</h3>
      <h4 style="text-align: center;"><br>worldlibraryg10@gmail.com <br><br> dimasangga28@gmail.com <br><br> yuyinmroizki.03@gmail.com<br></h4>
    </div>
  </div>
</div>
</body>
</html>